* {
  border: none;
  font-family: IosevkaTermSlab Nerd Font;
  font-size: 13px;
  min-height: 0;
}

tooltip {
	background: #282828;
	border: 2px solid #433e3c;
        border-radius: 8px;
}

tooltip label {
  color: #d5c4a1;
  padding: 0.3em;
}

window#waybar {
  background: rgba(40, 40, 40, 0.8);
  color: #d5c4a1;
}

#custom-rofi {
  color: #a89984;
  padding: 0 0.5em;
  background: rgba(40, 40, 40, 0.8);
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  border-radius: 4px;
  border: 1px solid #433e3c; 
  font-style: italic;
}

#custom-rofi:hover {
  background: rgba(168, 153, 132, 0.5);
  border-color: #a89984;
}

#taskbar button.active {
  background: rgba(168, 153, 132, 0.3);
  border-radius: 4px;
  padding: 0 4px;
  border: 1px solid #a89984;
}

#taskbar button {
  color: #d5c4a1;
  background: transparent;
  border-radius: 4px;
  margin: 4px;
  padding: 0 5px;
}

#taskbar button:hover {
  background: rgba(168, 153, 132, 0.5);
  border-radius: 4px;
}

#disk:hover,
#clock:hover,
#battery:hover,
#bluetooth:hover,
#pulseaudio:hover,
#memory:hover,
#cpu:hover,
#network:hover,
#custom-spotify:hover,
#custom-wlsunset:hover,
#custom-power:hover,
#custom-notifikasi:hover,
#custom-tray-icon:hover,
#tray > .passive:hover,
#tray > .active:hover,
#tray > .needs-attention:hover {
  background: rgba(168, 153, 132, 0.3);
}

#tray > .passive:hover,
#tray > .active:hover,
#tray > .needs-attention:hover {
border-radius: 4px;
}

#disk,
#clock,
#battery,
#bluetooth,
#pulseaudio,
#memory,
#cpu,
#network,
#workspaces,
#custom-spotify,
#custom-power,
#custom-notifikasi,
#custom-wlsunset,
#custom-tray-icon,
#tray {
  color: #d5c4a1;
  background: transparent;
  padding: 0 0.8em;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 4px;
}

#custom-tray-icon {
padding: 0px 8px;
margin-right: 4px;
}

#custom-power {
padding: 0 12px 0 8px;
}

#custom-wlsunset {
padding: 0 10px 0 8px;
}

#network.ethernet {
padding: 0 1.2em 0 0.8em;
}
