* {
box-shadow: none;
}

window {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#playerctl-revealer > box {
border: 2px solid #433e3c;
background-color: #282828;
border-radius: 8px;
padding: 1.5em 4em;
}

#playerctl-revealer > box {
padding: 1.5em;
margin-bottom: 4em;
}

#clock-label  {
font-size: 0;
}

/* hide "Password:" label */
#input-label {
  font-size: 0;
}

#input-field {
background: rgba(40, 40, 40, 0.8);
}

#runshell {
font-family: IosevkaTermSlab Nerd Font;
margin-top: 5em;
}

#window-box {
margin-top: 54em;
}
