* {
  border: none;
  font-family: IosevkaTermSlab Nerd Font;
  font-size: 13px;
  min-height: 0;
}

tooltip {
	background: #282828;
	border: 2px solid #433e3c;
        border-radius: 0px;
}

tooltip label {
  color: #d5c4a1;
}

window#waybar {
  background: rgba(40, 40, 40, 0.8);
  color: #d5c4a1;
}

#taskbar,
#custom-rofi {
  background: transparent;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
}

#custom-rofi {
  padding: 0 0.8em;
}

#taskbar {
  padding: 0 0em;
}

#taskbar button.active {
  background: rgba(168, 153, 132, 0.3);
  border-radius: 0px;
}

#taskbar button {
  color: #d5c4a1;
  background: transparent;
  border-radius: 0px;
}

#taskbar button:hover {
  background: rgba(168, 153, 132, 0.3);
  border-radius: 0px;
}

#disk:hover,
#clock:hover,
#battery:hover,
#bluetooth:hover,
#pulseaudio:hover,
#memory:hover,
#cpu:hover,
#network:hover,
#custom-spotify:hover,
#tray > .passive:hover,
#tray > .active:hover,
#tray > .needs-attention:hover,
#custom-rofi:hover {
  background: rgba(168, 153, 132, 0.3);
  border-radius: 0px;
}

#disk,
#clock,
#battery,
#bluetooth,
#pulseaudio,
#memory,
#cpu,
#network,
#workspaces,
#custom-spotify,
#tray {
  color: #d5c4a1;
  background: transparent;
  padding: 0 0.8em;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
}
