[Desktop Entry]
Name[af]=Caja
Name[am]=ካጃ
Name[ar]=كاجا
Name[as]=Caja
Name[ast]=Caja
Name[az]=Caja
Name[be]=Caja
Name[bg]=Файлов мениджър (Caja)
Name[bn]=Caja
Name[bn_IN]=Caja
Name[br]=Caja
Name[bs]=Caja
Name[ca]=Caja
Name[ca@valencia]=Caja
Name[cmn]=Caja
Name[crh]=Caja
Name[cs]=Caja
Name[cy]=Caja
Name[da]=Caja
Name[de]=Caja
Name[dz]=ནའུ་ཊི་ལཱསི།
Name[el]=Caja
Name[en_AU]=Caja
Name[en_CA]=Caja
Name[en_GB]=Caja
Name[eo]=Naŭtilo
Name[es]=Caja
Name[es_AR]=Caja
Name[es_CO]=Caja
Name[et]=Caja
Name[eu]=Caja
Name[fa]=ناتیلوس
Name[fi]=Caja
Name[fr]=Caja
Name[fur]=Caja
Name[fy]=Caja
Name[ga]=Caja
Name[gd]=Caja
Name[gl]=Caja
Name[gu]=નોટિલસ
Name[ha]=Caja
Name[he]=Caja
Name[hi]=नॉटिलस
Name[hr]=Caja
Name[hu]=Caja
Name[hy]=Նաուտիլիուս
Name[id]=Caja
Name[ie]=Caja
Name[ig]=Caja
Name[is]=Caja
Name[it]=Caja
Name[ja]=Caja
Name[ka]=ნაუტილუსი
Name[kab]=Caja
Name[kk]=Caja
Name[km]=Caja
Name[kn]=Caja‍
Name[ko]=Caja
Name[ku]=Caja
Name[ku_IQ]=کاخا
Name[ky]=Caja
Name[li]=Caja
Name[lt]=Caja
Name[lv]=Caja
Name[mai]=नाटिलस
Name[mg]=Caja
Name[mi]=Paua
Name[mk]=Caja
Name[ml]=നോട്ടിലസ്
Name[mn]=Наутилус
Name[mr]=नॉटीलस
Name[ms]=Caja
Name[nb]=Caja
Name[nds]=Caja
Name[ne]=नटलस
Name[nl]=Caja
Name[nn]=Caja
Name[nso]=Caja
Name[oc]=Caja
Name[or]=ନଟିଲସ
Name[pa]=ਨਟੀਲਸ
Name[pl]=Caja
Name[ps]=ناوټېلس
Name[pt]=Caja
Name[pt_BR]=Caja
Name[ro]=Caja
Name[ru]=Caja
Name[si]=Caja
Name[sk]=Caja
Name[sl]=Caja
Name[sq]=Caja
Name[sr]=Цаја
Name[sr@latin]=Caja
Name[sv]=Caja
Name[ta]=Caja
Name[te]=నాటిలస్
Name[th]=Caja
Name[tk]=Caja
Name[tr]=Caja
Name[ug]=Caja
Name[uk]=Caja
Name[ur]=Caja
Name[uz]=Caja
Name[vi]=Caja
Name[wa]=Caja.
Name[xh]=i-Caja
Name[yo]=Caja
Name[zh_CN]=Caja
Name[zh_HK]=Caja
Name[zh_TW]=Caja
Name[zu]=Caja
Name=Caja
GenericName[af]=Lêerbestuurder
GenericName[am]=የ ፋይል አስተዳዳሪ
GenericName[ar]=مدير الملفات
GenericName[as]=নথিপত্ৰ পৰিচালক
GenericName[ast]=Xestor de ficheros
GenericName[az]=Fayl İdarəçisi
GenericName[be]=Файлавы кіраўнік
GenericName[bg]=Файлов Мениджър
GenericName[bn]=ফাইল ম্যানেজার
GenericName[bn_IN]=ফাইল পরিচালন ব্যবস্থা
GenericName[br]=Ardoer restroù
GenericName[bs]=Upravitelj datoteka
GenericName[ca]=Gestor de fitxers
GenericName[ca@valencia]=Gestor de fitxers
GenericName[cmn]=檔案管理程式
GenericName[crh]=Dosye İdarecisi
GenericName[cs]=Správce souborů
GenericName[cy]=Rheolydd ffeiliau
GenericName[da]=Filhåndtering
GenericName[de]=Dateiverwaltung
GenericName[dz]=ཡིག་སྣོད་འཛིན་སྐྱོང་པ།
GenericName[el]=Διαχειριστής αρχείων
GenericName[en_AU]=File Manager
GenericName[en_CA]=File Manager
GenericName[en_GB]=File Manager
GenericName[eo]=Dosieradministrilo
GenericName[es]=Gestor de archivos
GenericName[es_AR]=Gestor de Archivos
GenericName[es_CO]=Administrador de archivos
GenericName[es_MX]=Gestor de Archivos
GenericName[et]=Failihaldur
GenericName[eu]=Fitxategi-kudeatzailea
GenericName[fa]=مدیر پرونده‌ها
GenericName[fi]=Tiedostonhallinta
GenericName[fr]=Gestionnaire de fichiers
GenericName[fur]=Gjestôr di file
GenericName[fy]=Triembehearder
GenericName[ga]=Bainisteoir Comhad
GenericName[gd]=Manaidsear fhaidhlichean
GenericName[gl]=Xestor de ficheiros
GenericName[gu]=ફાઇલ સંચાલક
GenericName[ha]=Manajan Fayil
GenericName[he]=מנהל קבצים
GenericName[hi]=फ़ाइल प्रबंधक
GenericName[hr]=Datotečni upravitelj
GenericName[hu]=Fájlkezelő
GenericName[hy]=Ֆայլի Կառավարիչ
GenericName[id]=Manajer Berkas
GenericName[ie]=Gerente de files
GenericName[ig]=Onyenlekọta faịlụ
GenericName[is]=Skráastjóri
GenericName[it]=File manager
GenericName[ja]=ファイルマネージャー
GenericName[ka]=ფაილ მენეჯერი
GenericName[kab]=Amsefrak n ufuyla
GenericName[kk]=Файлдық басқарушы
GenericName[kn]=ಕಡತ ವ್ಯವಸ್ಥಾಪಕ
GenericName[ko]=파일 관리자
GenericName[ku]=Rêveberiya Pelan
GenericName[ku_IQ]=بەڕێوەبەری پەڕگە
GenericName[ky]=Файл менеджери
GenericName[li]=Besjtandjwirtsjaf
GenericName[lt]=Failų tvarkytuvė
GenericName[lv]=Failu pārvaldnieks
GenericName[mai]=फाइल प्रबंधक
GenericName[mg]=Mpandrindra rakitra
GenericName[mk]=Менаџер за датотеки
GenericName[ml]=ഫയല്‍ നടത്തിപ്പുകാരന്‍
GenericName[mn]=Файл менежер
GenericName[mr]=फाइल व्यवस्थापक
GenericName[ms]=Pengurus Fail
GenericName[nb]=Filbehandler
GenericName[nds]=Dateioppasser
GenericName[ne]=फाइल प्रबन्धक
GenericName[nl]=Bestandsbeheer
GenericName[nn]=Filhandsamar
GenericName[nso]=Molaodi wa Faele
GenericName[oc]=Gestionari de fichièrs
GenericName[or]=ଫାଇଲ ପରିଚାଳକ
GenericName[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer plików
GenericName[ps]=دوتنه سمبالګر
GenericName[pt]=Gestor de Ficheiros
GenericName[pt_BR]=Gerenciador de Arquivos
GenericName[ro]=Administrator de fișiere
GenericName[ru]=Файловый менеджер
GenericName[si]=ගොනු කළමණාකරු
GenericName[sk]=Správca súborov
GenericName[sl]=Upravljalnik datotek
GenericName[sq]=File Manager
GenericName[sr]=Управник датотека
GenericName[sr@latin]=Upravnik datotekama
GenericName[sv]=Filhanterare
GenericName[ta]=சாளர மேலாளர்
GenericName[te]=దస్త్ర నిర్వాహకి
GenericName[th]=โปรแกรมจัดการแฟ้ม
GenericName[tk]=Faýl Müdiri
GenericName[tr]=Dosya Yöneticisi
GenericName[ug]=ھۆججەت باشقۇرغۇ
GenericName[uk]=Упорядник файлів
GenericName[ur]=فائل منیجر
GenericName[uz]=Fayl Boshqaruvchi
GenericName[vi]=Bộ Quản lý Tập tin
GenericName[wa]=Manaedjeu di fitchîs
GenericName[xh]=Umphathi Wefayili
GenericName[yo]=Alábòójútó Fáìlì
GenericName[zh_CN]=文件管理器
GenericName[zh_HK]=檔案管理程式
GenericName[zh_TW]=檔案管理器
GenericName[zu]=Mphathi Hele
GenericName=File Manager
Exec=/usr/bin/caja
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=system-file-manager
Terminal=false
Type=Application
StartupNotify=false
