[Desktop Entry]
Name[am]=ሜት ስርአት መቆጣጠሪያ 
Name[ar]=مرقاب نظام متّة
Name[ast]=Monitor del sistema de MATE
Name[be]=Сістэмны назіральнік MATE
Name[bg]=Наблюдение на системата на MATE
Name[ca]=Monitor del sistema de MATE
Name[ca@valencia]=Monitor del sistema del MATE
Name[cs]=Sledování systému MATE
Name[da]=MATE - systemovervågning
Name[de]=MATE-Systemüberwachung
Name[el]=Παρακολούθηση Συστήματος MATE
Name[en_AU]=MATE System Monitor
Name[en_GB]=MATE System Monitor
Name[es]=Monitor del sistema de MATE
Name[es_AR]=Monitor del sistema de MATE
Name[et]=MATE süsteemijälgija
Name[eu]=MATE Sistemaren Monitorea
Name[fi]=MATE Järjestelmän valvonta
Name[fr]=Moniteur système MATE
Name[gl]=Monitor do sistema do MATE
Name[he]=צג המערכת של MATE
Name[hr]=MATE nadzor sustava
Name[hu]=MATE rendszerfigyelő
Name[hy]=MATE Համակարգային Հսկում
Name[id]=Pemantau Sistem MATE
Name[ie]=Monitor del sistema MATE
Name[it]=Monitor di Sistema di MATE
Name[ja]=MATE システムモニタ
Name[kk]=MATE жүйелік бақылаушысы
Name[kn]=MATE ಗಣಕ ಮೇಲ್ವಿಚಾರಕ
Name[ko]=MATE 시스템 모니터
Name[lt]=MATE sistemos monitorius
Name[ms]=Pemantau Sistem MATE
Name[nb]=MATE Systemovervåking
Name[nds]=MATE System-Uppasser
Name[nl]=MATE Systeembewaking
Name[oc]=Monitor sistèma MATE
Name[pl]=Monitor systemu MATE
Name[pt]=Monitor do Sistema MATE
Name[pt_BR]=Monitor do sistema MATE
Name[ro]=Monitor sistem MATE
Name[ru]=Системный монитор MATE
Name[sk]=Monitor systému prostredia MATE
Name[sl]=MATE Sistemski Nadzornik
Name[sq]=MATE Monitori i sistemit 
Name[sr]=Мејтов пратилац система
Name[sv]=Systemövervakare för MATE
Name[th]=เครื่องมือเฝ้าสังเกตระบบของ MATE
Name[tr]=MATE Sistem Gözlemcisi
Name[uk]=Системний монітор MATE
Name[uz]=MATE Tizim Nazorati
Name[zh_CN]=MATE 系统监视器
Name[zh_TW]=MATE 系統監控程式
Name=MATE System Monitor
GenericName=System Monitor
Comment[am]=የአሁኑን ሂደት እና የስርአት መቆጣጠሪያ ሁኔታ መመልኬክቻ 
Comment[ar]=اعرض العمليات الحالية و راقب حالة النظام
Comment[as]=চলমান প্ৰসেস চাওক চাওক সিস্টেমেৰ অবস্থা নিৰীক্ষণ কৰক
Comment[ast]=Ver los procesos actuales y monitorizar l'estáu'l sistema
Comment[az]=Hazırda baş verən gedişatları göstər və sistemin vəziyyətinə nəzarət et
Comment[be]=Паказвае актыўныя працэсы і назірае за станам сістэмы
Comment[bg]=Показване на текущите процеси и следене на състоянието на системата
Comment[bn]=বর্তমান প্রসেস দেখুন ও সিস্টেমের অবস্থা পর্যবেক্ষন করুন
Comment[bn_IN]=চলমান প্রসেস দেখুন ও সিস্টেমের অবস্থা নিরীক্ষণ করুন
Comment[bs]=Pregled trenutnih procesa i nadzor stanja sistema
Comment[ca]=Visualitzeu els processos actuals i monitoreu l'estat del sistema
Comment[ca@valencia]=Visualitza els processos actuals i supervisa l'estat del sistema
Comment[cmn]=顯示目前的程序並監控系統的狀態
Comment[cs]=Zobrazení aktuálních procesů a sledování stavu systému
Comment[cy]=Gweld prosesau cyfredol ac arsylwi cyflwr y system
Comment[da]=Vis aktive processer og overvåg systemstatus
Comment[de]=Momentan laufende Prozesse betrachten und den Systemzustand überwachen
Comment[dz]=ད་ལྟོའི་ལས་སྦྱོར་དང་ ལྟ་རྟོག་རིམ་ལུགས་ཀྱི་ གནས་ལུགས་སྟོན།
Comment[el]=Προβολή τρεχουσών διεργασιών και παρακολούθηση κατάστασης συστήματος
Comment[en_AU]=View current processes and monitor system state
Comment[en_CA]=View current processes and monitor system state
Comment[en_GB]=View current processes and monitor system state
Comment[eo]=Montras aktualajn procezojn kaj sistemstaton
Comment[es]=Vea los procesos actuales y monitoree el estado del sistema
Comment[es_MX]=Ver los procesos actuales y monitorear el estado del sistema
Comment[et]=Süsteemi oleku ja protsesside jälgimine
Comment[eu]=Ikusi uneko prozesuak eta monitorizatu sistemako egoera
Comment[fi]=Katsele aktiivisia prosesseja ja valvo järjestelmän tilaa
Comment[fr]=Afficher les processus en cours et surveiller l'état du système
Comment[gl]=Ver os procesos actuais e monitorizar o estado do sistema
Comment[gu]=વર્તમાન પ્રક્રિયાને જુઓ અને સિસ્ટમની સ્થિતિનું ધ્યાન રાખો
Comment[he]=הצג את התהליכים הנוכחיים ונטר את מצב המערכת
Comment[hi]=वर्तमान प्रक्रिया दिखाता है और तंत्र अवस्था मॉनीटर करता है
Comment[hr]=Pregled trenutnih procesa i nadzor stanja sustava
Comment[hu]=A jelenlegi folyamatok megtekintése és a rendszerállapot figyelése
Comment[hy]=Դիտել ընթացիկ գործընթացներն ու հսկել համակարգի վիճակը
Comment[id]=Melihat proses yang sedang berjalan serta memonitor kinerja sistem
Comment[ie]=Vider li actual processus e monitorar li statu del sistema
Comment[it]=Visualizza i processi correnti e controlla lo stato del sistema
Comment[ja]=現在のプロセスを表示してシステムの状態を監視します。
Comment[ka]=მიმდინარე პროცესებისა და თვალყურის სისტემის ნახვა
Comment[kk]=Ағымдағы үрдістерді қарау және жүйе қалып-күйін бақылау
Comment[kn]=ಪ್ರಸಕ್ತ ಪ್ರಕ್ರಿಯೆಗಳು ಹಾಗು ಮೇಲ್ವಿಚಾರಣ ವ್ಯವಸ್ಥೆಯ ಸ್ಥಿತಿಯನ್ನು ನೋಡಿ
Comment[ko]=현재 프로세스와 시스템 상태를 봅니다
Comment[ky]=Кезектеги процесстерди көрүү жана системанын абалын мониторинг кылуу
Comment[li]=Tuin huijig proses en bekiek systeemtoesjtandj
Comment[lt]=Parodo paleistus procesus ir sistemos būklę
Comment[lv]=Skatīt pašreizējos procesus un pārraudzīt sistēmas stāvokli
Comment[mai]=वर्तमान प्रक्रिया देखबैत अछि आओर सिस्टम अवस्था मानीटर करैत अछि
Comment[mg]=Hijery ireo asa mandeha sy ny toetry ny rafitr'ilay mpanara-maso amin'izao fotoana izao
Comment[mk]=Погледни ги моментално активните процеси и состојбата на системот
Comment[ml]=നിലവിലുളള പ്രക്രിയകള്‍ വീക്ഷിക്കുകയും സിസ്റ്റത്തിന്റെ അവസ്ഥ നിരീക്ഷിക്കുകയും ചെയ്യുന്നു
Comment[mn]=Идэвхитэй процессуудыг харах ба системын төлвийг шалгах
Comment[mr]=चालू प्रक्रिया पहा आणि प्रणाली स्थिती मॉनिटर करा
Comment[ms]=Lihat proses semasa dan pantau keadaan sistem
Comment[nah]=Tlachia axkan wilistlahtolme iwan yelistli ipan sistema tlachiani
Comment[nb]=Vis aktive prosesser og overvåk systemets tilstand
Comment[nds]=Aktuelle Prozesse un Systemtostandsmonitor opwiesen
Comment[nl]=Bekijk de huidige processen en bewaak de systeemtoestand
Comment[nn]=Vis aktive prosessar og overvak systemtilstanden
Comment[oc]=Afichar los processus en cors e survelhar l'estat del sistèma
Comment[or]=ପ୍ରଚଳିତ ପ୍ରକ୍ରିୟାକୁ ଦେଖନ୍ତୁ ଏବଂ ତନ୍ତ୍ର ସ୍ଥିତି ଉପରେ ଦୃଷ୍ଟି ରଖନ୍ତୁ
Comment[pa]=ਮੌਜੂਦਾ ਪਰੋਸੈੱਸ ਵੇਖੋ ਅਤੇ ਸਿਸਟਮ ਹਾਲਤ ਦੀ ਨਿਗਰਾਨੀ
Comment[pl]=Wyświetlanie istniejących procesów i monitorowanie stanu systemu
Comment[ps]=اوسني بهيرونه ليدل او غونډال انکړ څارل
Comment[pt]=Ver os processos atuais e monitorizar o estado do sistema
Comment[pt_BR]=Veja os processos atuais e monitore o estado do sistema
Comment[ro]=Arată procesele actuale și monitorizează starea sistemului
Comment[ru]=Программа для просмотра текущих процессов и мониторинга состояния системы
Comment[si]=දැනට ඇති සැකසුම් දර්ශනය සහ පද්ධති තත්වය නිරීක්‍ෂණය
Comment[sk]=Zobrazuje aktuálne procesy a monitoruje stav systému
Comment[sl]=Ogled trenutnih opravil in nadzor stanja sistema
Comment[sq]=Shfaq proçeset aktualë dhe monitoron gjëndjen e sistemit
Comment[sr]=Прегледајте текуће процесе и пратите стање система
Comment[sr@latin]=Pregled tekućih procesa i praćenje stanja sistema
Comment[sv]=Visa aktuella processer och övervaka systemtillståndet
Comment[ta]=தற்போதைய செயல் மற்றும் கணினியின் நிலையை பார்க்கவும்
Comment[te]=ప్రస్తుత క్రమణములు దర్శించు మరియు వ్యవస్థ స్థితిని పర్యవేక్షించు
Comment[th]=แสดงโพรเซสปัจจุบันและเฝ้าสังเกตสถานะของระบบ
Comment[tr]=Çalışan süreçleri ve sistem durumunu gösterir
Comment[ug]=View current processes and monitor system state
Comment[uk]=Перегляд поточних процесів і контроль стану системи
Comment[ur]=حالیہ عمل کاریاں اور نظام کی حالت دیکھیں
Comment[vi]=Xem các tiến trình hiện thời và theo dõi tình trạng hệ thống
Comment[zh_CN]=查看当前进程及监视系统状态
Comment[zh_HK]=顯示目前的程序並監控系統的狀態
Comment[zh_TW]=顯示目前的程序並監控系統的狀態
Comment=View current processes and monitor system state
TryExec=mate-system-monitor
Exec=mate-system-monitor
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=utilities-system-monitor
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;System;Monitor;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ca]=MATE;sistema;monitor;procés;llista;vista;actual;recursos;
Keywords[cs]=MATE;systém;sytému;monitor;sledování;proces;seznam;pohled;zobrazení;zobrazit;aktuální;systémové;zdroje;prostředky;
Keywords[da]=MATE;system;monitor;process;list;view;current;resources;overvåger;proces;liste;visning;nuværende;ressourcer;
Keywords[en_GB]=MATE;system;monitor;process;list;view;current;resources;
Keywords[es]=MATE;sistema;monitor;proceso;lista;vista;actual;recursos;
Keywords[eu]=MATE;sistema;monitorea;prozesua;zerrenda;ikuspegia;oraingoa;baliabideak;
Keywords[gl]=MATE;sistema;monitor;procesos;lista;vista;actual;recursos;
Keywords[id]=MATE;sistem;pemantau;proses;daftar;tilikan;saat ini;sumber daya;
Keywords[it]=MATE;system;monitor;process;list;view;current;resources;
Keywords[ja]=MATE;system;monitor;process;list;view;current;resources;
Keywords[lt]=MATE;sistemos;monitorius;sistema;procesai;sąrašas/rodyti;dabar;ištekliai
Keywords[ms]=MATE;sistem;pemantau;proses;senarai;padangan;semasa;sumber;
Keywords[nb]=MATE;system;overvåkning;prosess;liste;vis;gjeldende;ressurser;
Keywords[nl]=MATE;systeem;bewaking;proces;lijst;tonen;huidige;hulpbronnen;
Keywords[oc]=MATE;system;monitor;process;list;view;current;resources;sistèma;ressorsas;potencia;ordi;
Keywords[pl]=MATE;system;monitor;proces;lista;widok;bieżące;zasoby;
Keywords[pt]=MATE;sistema;monitor;processo;lista;panorâmica;atual;recursos;
Keywords[pt_BR]=MATE;sistema;monitor;processo;lista;visualização;atual;recursos;
Keywords[ru]=MATE;система;диспетчер;процесс;список;вид;текущие;ресурсы;
Keywords[sk]=MATE;systém;monitor;proces;zoznam;zobrazenie;aktuálny;aktuálne;prostriedky;zdroje;
Keywords[sl]=MATE;sistem;monitor;proces;seznam;prikaz;trenuto;viri;
Keywords[sr]=Мејт;систем;прати;процес;списак;преглед;текући;ресурси;
Keywords[th]=MATE;ระบบ;เฝ้าสังเกต;โพรเซส;รายการ;มุมมอง;ปัจจุบัน;ทรัพยากร;
Keywords[tr]=MATE;sistem;gözlemci;süreç;liste;görünüm;geçerli; kaynak;kaynaklar;
Keywords[uk]=MATE;система;монітор;процес;перелік;перегляд;поточний;ресурси;
Keywords[zh_CN]=MATE;system;monitor;process;list;view;current;resources;系统;监视器;进程;列表;查看;当前;资源;
Keywords[zh_TW]=MATE;system;monitor;process;list;view;current;resources;
Keywords=MATE;system;monitor;process;list;view;current;resources;

