@import url('colors');

@define-color placeholder_text_color @theme_fg_color;

* {
transition: none;
color: @theme_fg_color;
caret-color: @theme_fg_color;
-gtk-icon-theme: "Gruvbox-Plus-Dark";
}

window {
    background-color: @theme_bg_color;
}

/* search entry */
entry {
font-family: monospace;
background-color: mix(@theme_bg_color,@theme_fg_color,0.2);
border-color: alpha(@theme_fg_color,0.5);
}

entry:focus {
border-color: @theme_fg_color;
}

button {
    background: transparent;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    font-weight: 500;
}


button:hover {
    background-color: alpha(@theme_fg_color, 0.3); 
}

/* in case you wanted to give category buttons a different look */
#category-button {
    margin: 0px 8px 0px 8px;
    padding: 0 1em;
    background: mix(@theme_bg_color,@theme_fg_color,0.2);
    box-shadow: none;
    min-height: 0px;
    border: 1px solid alpha(@theme_fg_color, 0.3);
}

#category-button:hover {
background-color: mix(@theme_bg_color,@theme_fg_color,0.4);
}

#pinned-box {
    padding-bottom: 5px;
    border-bottom: 1px dotted @theme_fg_color
}

#files-box {
    padding: 5px;
    border: 1px dotted @theme_fg_color;
    border-radius: 4px
}
